
.title-left h1 {
  margin-bottom: 42.665;
}

.title-right h2 {
  display: none;
}

.title-right {
  text-align: center;
}

@media only screen and (min-width: 920px)  {
  .title-line {
    display: flex;
  }
  .title-left {
    margin-right: 15px;
  }
  .title-right {
    margin-left: auto;
    min-width: 510px;
    text-align: right;
  }
  .title-right p {
    max-width: 400px;
    float: right;
  }
  .title-right h2 {
    display: inline-block;
  }
}

.title-right a.main-link {
  text-decoration: none;
}
.title-right img.logo {
  width: 30px;
  margin-bottom: -2px;
  margin-left: 4px;
}

p {
  max-width: 800px;
}

select {
  height: 40px;
  font-size: 18px;
  border-width: 2px;
}

div.character {
  width: 600px;
  background-size: cover;
  padding: 10px;
  color: #fff;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 10px;
}

img.character-image {
  max-width: 200px;
  vertical-align: top;
}
